/* index.css – FIXED */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #151617;

}


body::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}